@model Domain.Entities.Person

<div>
    <h4>Person</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idPerson)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idPerson)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dni)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dni)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.surnames)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.surnames)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.birthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.birthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.age)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.idPerson  }) |
    @Html.ActionLink("Back to List", "Index")
</p>
